# Node.js dependencies
node_modules/
npm-debug.log
yarn-error.log
package-lock.json

# Logs
logs
*.log
logs/*

# Environment variables
.env

# OS-specific files
.DS_Store
Thumbs.db

# Editor-specific files
.vscode/
.idea/
*.swp

# Build files (if applicable)
dist/
